[Unit]
Description=FiveM Server
After=network.target

[Service]
User=fivem
Group=fivem

ExecStart=/bin/bash /home/fivem/artifacts/run.sh +set txAdminPort {{ txadmin_port }}

Type=simple
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target