[Unit]
Description=FiveM Server
After=network.target

[Service]
User=fivem
Group=fivem

ExecStart=/bin/bash /home/fivem/server/run.sh

Type=simple
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target